@use '../1-base/variables' as v;

.btn {
  border: 0;
  padding: 0.5rem 1.5rem;
  border-radius: v.$radius-lg;
  cursor: pointer;
  font-weight: v.$font-bold;
  font-size: 0.875rem;

  &__primary {
    background-color: v.$primary-color;
    color: v.$blank-color;

    &:hover {
      background-color: v.$primary-hover-color;
    }
  }

  &__secondary {
    background-color: v.$secondary-color;
    color: v.$blank-color;

    &:hover {
      background-color: v.$secondary-hover-color;
    }
  }

  &__tertiary {
    background-color: v.$tertiary-color;
    color: v.$blank-color;

    &:hover {
      background-color: v.$tertiary-hover-color;
    }
  }

  &__danger {
    background-color: v.$danger-color;
    color: v.$blank-color;

    &:hover {
      background-color: v.$danger-hover-color;
    }
  }
}