// COLORS

$primary-color: hsl(282, 83%, 52%);
$secondary-color: hsl(230, 76%, 59%);
$tertiary-color: hsl(0, 0%, 100%);
$accent-color: hsl(231, 100%, 97%);
$dark-bg-color: hsl(231, 33%, 34%);
$text-color: hsl(224, 20%, 49%);
$highlight-color: hsl(14, 83%, 74%);
$link-color: hsl(204, 94%, 68%);

$bg-color: hsl(230, 60%, 98%);

// TYPOGRAPHY

$font-base: 400;
$font-semibold: 600;
$font-bold: 700;